body {
    text-align: center;
}

#counter {
    position: fixed;
    top: 4px;
    left: 4px;
    text-align: left;
    font-family: monospace;
}

#mainTable {
    border: 2px solid gray;
    display: inline-block;
}

.data {
    width: 5px;
    height: 5px;
    background-color: white;
}

.sqOn {
    background-color: black;
}

.ant {
    background-color: red;
}